:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #3a3d42;
  --mainYellow: #ffa400;
  --mainRed: #ff4f4f;
  --darkRed: #eb3434;
}
body {
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-red {
  color: var(--darkRed);
}
.text-white {
  color: var(--mainWhite);
}
.navbar {
  background-color: var(--mainDark) !important;
}
.nav-link {
  color: var(--mainWhite) !important;
  text-transform: capitalize;
  font-size: 1.3rem;
}
